<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CNN Classifier</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/mainpage.css') }}" />
</head>

<body>
    <div class="navg">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
        <a class="navbar-brand" href="https://github.com/cod3bug">Github</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
          </ul>
        </div>
      </nav>
    </div>
    <div class="heading">
        <h1>Dog and Cat Image Classifier</h1>
    </div>
    <div class="predict">
        <form action="/predict" method="post">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Image URL" aria-describedby="button-addon2" name="img-url">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary btn-warning" type="submit" >Predict</button>
                </div>
            </div>
            <div class="result">
                <h2>{{prediction}}</h2>
            </div>
            <img src="{{disp_img}}"  class="img-fluid" alt="Press The Predict button"><br>
        </form>
    </div>

</body>

</html>